.background{
-fx-background-color: #d1c9be;
}

.button{
	-fx-background-color:#656666;
	-fx--moz-border-radius:42px;
	-fx--webkit-border-radius:42px;
	-fx-border-radius:50%;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#000000;
	-fx-font-family: Arial;
	-fx-font-size: 18px;
	-fx-padding:14px 44px;
	-fx-text-decoration:none;
}
.button:hover {
	-fx-background-color:#000000;
}
.button:active {
	-fx-position:relative;
	-fx-top:5px;
}


.text-field{
-fx-border-color: #00DDDD;
-fx-stroke: #00dddd;
-fx-background-color: #FFFFFF;
}

.label{
-fx-font: normal 20px 'sans-serif' 
}

.labelIIITD{
-fx-font: normal bold 50px 'serif' 
}

.labelchoicebox{
-fx-color: #FFFFFF ;
-fx-font: normal bold 15px 'sans-serif' ;
-fx-padding: 5 22 5 22 ;
-fx-border-color: #00DDDD ;
}

.admin_Page_Heading{

-fx-font: normal 40px 'sans-serif'

}

.Course{
	
	-fx-font: normal 15px 'sans-serif';
}


.grid_pane{
	-fx-background-color:#ffffff;
	-fx-color:#FFFFFF;
	-fx-font-family: Arial;
	-fx-font-size: 15px;
	-fx-text-decoration:none
}

.available
{
	-fx-background-color: #33cc00;
    -fx-font-family: Arial;
	-fx-font-size: 15px;
	-fx-text-decoration:none
	-fx-color:#FFFFFF;
}
.not_available
{
	-fx-background-color: #ff1a1a;
    -fx-font-family: Arial;
	-fx-font-size: 15px;
	-fx-text-decoration:none;
	-fx-color:#FFFFFF;
}

.dropdown{
	-fx-background-color:#656666;
	-fx--moz-border-radius:42px;
	-fx--webkit-border-radius:42px;
	-fx-border-radius:50%;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#FFFFFF;
	-fx-font-family: Arial;
	-fx-font-size: 18px;
	-fx-padding:14px 44px;
	-fx-text-decoration:none;
}
.dropdown:hover {
	-fx-background-color:#000000;
}
.dropdown:active {
	-fx-position:relative;
	-fx-top:5px;
}